<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Faune et flore Marine{% endblock %}</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        {% block stylesheets %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

{% block body %}
<div class="container-fluid bg-info-subtle p-5 border border-primary">
  <div class="row">
    <h1 class="text-center p-5">Faune et flore marie</h1>
  </div>

  </div class=row>
    <div class="card text-center align-middle m-5">
      <div class="card-header">
        <h2>Accueil</h2>
      </div>
      <div class="card-body">
        <h5 class="card-title">Description du site</h5>
        <p class="card-text">Depuis des années, je plonge et j'observe le monde aquatique. Le plus extraordinaire, pour moi, c'est cette posibilité de ce déplacer dans les trois dimensions</p>
        <p class="card-text">Il est dédié à la proctection et à la connaissance de la biotope marine.</p>
        <p class="card-text">A l'interaction de l'homme sur la nature.</p>
        <a href="/animal" class="btn btn-primary">Entrez</a>
      </div>
      <div class="card-footer text-body-secondary">
        <p>Le 25/01/2025.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center p-3 position-absolute bottom-0 bg-info-subtle border border-primary">
    <div class=row>
      <p>footer</p>
    </div>
  </div>
</div>



{% endblock %}
